<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/reg.css}">
    <title>Add Level</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Start Quizz</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/update-subject">Update Quiz</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/update-quiz">Update Level</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
            <span class="navbar-text">

      </span>
        </div>
    </div>
</nav>


<div class="main-container container py-5 px-4">

    <div class="text-box">
        <h1 class="mb-5 text-center">Add Quiz level</h1>
        <form class="card bg-dark py-5 px-4" action="/quiz-list" method="POST">
            <p>Subject Id:</p><input type="number" placeholder="Enter subject Id"  name="subjectId" />
            <p>Quiz Id:</p><input type="number" placeholder="Enter QuizId" name="quizId" />

            <p>Level:</p><input type="text"  placeholder="Enter Level" name="level"  />
            <p>Score:</p><input  type="number" placeholder="Enter score" name="score" />

            <button type="submit" class="btn btn-primary success">Add</button><br/>

        </form>

    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>